/* Existing styles for the extension icon */
#my-extension-icon {
    width: 32px;
    height: 32px;
    margin: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Apply hover effect for the extension icon */
#my_extension_container #my-extension-icon:hover {
    transform: translateY(-3px);
}

/* New styles for your custom icon */
#tp_settings_menu_btn #custom-icon {
    /* Add your custom styles here */
    width: 32px;
    height: 32px;
    margin: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Apply hover effect for your custom icon */
#tp_settings_menu_btn #custom-icon:hover {
    transform: translateY(-3px);
}


